body {
    background-color: #f5f5f5;
    padding-top: 70px;
}

.task-progress .progress {
    margin: 0;
}


.gallery {
    padding: 0;
}

.gallery li {
    display: inline-block;
    margin: 0 1em 1em 0;
    list-style-type: none;
    text-align: center
}

.circle {
    display: block;
	width: 20px;
	height: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.alloc {
    background: red;
}

.idle {
    background: green;
}

.down {
    background: gray;
}