<div class="panel-body">
    <div class="row">
        <button type="button" class="btn btn-default" ng-click="ctrl.reload()" title="Reload tasks">
            <i class="glyphicon glyphicon-refresh"></i>
        </button>
    </div>
    <div class="row">
        <ng-table headers="sinfo.headers" data="sinfo.data" title="'Cluster info'"></ng-table>
    </div>

    <div class="row">
        <ng-table headers="squeue.headers" data="squeue.data" title="'Cluster queue info'"></ng-table>
    </div>

    <div class="row">
        <div ng-repeat="(partition, cnodes) in partitions" class="col-md-2">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2" class="info text-center"><b>{{partition}}</b></th>
                    </tr>
                    <tr>
                        <th>CNODE</th>
                        <th>ENABLE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(title, value) in cnodes">
                        <td>{{title}}</td>
                        <td>
                            <span ng-class="[value]" class="circle"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>