<div ng-controller="TaskTabsCtrl">
    <uib-tabset>
        <uib-tab ng-repeat="tab in tabs" select="activeTab(tab)"
                 active="tab.active" heading="{{tab.heading}}">
            <div ng-if="tab.active" ng-include="tab.tamplateUrl"></div>
        </uib-tab>
    </uib-tabset>
</div>