<json-editor ng-if="data" schema="schema" startval="data" buttons-controller="TaskEditCtrl">
    <button type="submit" class="btn btn-success" ng-click="onUpdate()">
        <span class="glyphicon glyphicon-check"></span>
        Save
    </button>
</json-editor>