<div class="panel-body">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed f11">
                <tbody>
                <tr>
                    <td colspan="2" align="center" class="info"><b>Info</b></td>
                </tr>
                <tr>
                    <td width="35%"><b>Title</b></td>
                    <td width="65%">{{task.title}}</td>
                </tr>
                <tr>
                    <td><b>Job started</b></td>
                    <td>{{task.start_date}}</td>
                </tr>
                <tr>
                    <td><b>Job finished</b></td>
                    <td>{{task.end_date}}</td>
                </tr>
                <tr>
                    <td><b>Job state</b></td>
                    <td>{{task.state.display}}</td>
                </tr>
                <tr>
                    <td><b>Job is started</b></td>
                    <td ng-if="task.is_running" style="color: green"><i class="glyphicon glyphicon-ok"></i></td>
                    <td ng-if="!task.is_running" style="color: red;"><i class="glyphicon glyphicon-remove"></i></td>
                </tr>
                <tr>
                    <td><b>Finished</b></td>
                    <td class="task-progress">
                        <uib-progressbar value="task.readiness" type="success"><strong>{{task.readiness}}%</strong></uib-progressbar>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item" ng-class="{'active': time == activeGallery}" ng-repeat="time in task.results.times track by $index" ng-click="ctrl.setActive(time)">
                    {{time}}
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <ng-gallery ng-show="key == activeGallery" images="value" ng-repeat="(key, value) in task.results.items"></ng-gallery>
        </div>
    </div>
</div>