<button type="button" class="btn btn-default" ng-click="ctrl.onCreate()" title="Create new task">Create</button>
<button type="button" class="btn btn-default" ng-click="ctrl.reload()" title="Reload tasks">
    <i class="glyphicon glyphicon-refresh"></i>
</button>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Task title</th>
            <th>Job started</th>
            <th>Job finished</th>
            <th>Job state</th>
            <th>Finished</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="task in tasks" ng-if="!task.archive">
            <td><a ng-href="/info/{{task.id}}">{{task.title}}</a></td>
            <td>{{task.start_date}}</td>
            <td>{{task.end_date}}</td>
            <td>{{task.state.display}}</td>
            <td class="task-progress">
                <uib-progressbar value="task.readiness" type="success"><strong>{{task.readiness}}%</strong></uib-progressbar>
            </td>
            <td>
                <button class="btn btn-default btn-sm" ng-if="task.is_running" ng-click="ctrl.onStop(task)" title="Task change status" ng-disabled="task.locked">
                    <i class="glyphicon glyphicon-pause"></i>
                </button>
                <button class="btn btn-default btn-sm" ng-if="!task.is_running" ng-click="ctrl.onStatus(task)" title="Task change status" ng-disabled="task.locked">
                    <i class="glyphicon glyphicon-play"></i>
                </button>
                <button class="btn btn-default btn-sm" ng-if="task.is_running" ng-click="ctrl.onStatus(task)" title="" ng-disabled="task.locked">
                    <i class="glyphicon glyphicon-stop"></i>
                </button>
                <a class="btn btn-default btn-sm" href="/task/data/download/{{task.id}}/" title="" target="_self">
                    <i class="glyphicon glyphicon-download"></i>
                </a>
                <button class="btn btn-default btn-sm" title="Delete" ng-click="ctrl.onDelete(task)" ng-disabled="task.locked">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
