<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Create tasks</h3>
</div>
<form name="form" method="post" enctype="multipart/form-data" ng-submit="ctrl.onCreate()">
    <div class="modal-body">
            <div class="form-group" ng-class="{'has-error': form.title.$invalid && form.title.$dirty}">
                <label for="title">Task title</label>
                <input type="text" id="title" class="form-control" placeholder="Task title" name="title"
                       ng-model="task.title"
                       ng-remote-method="GET"
                       ng-remote-validate="{'/api/task/unique': 'unique'}"
                       required />
                <div ng-show="form.title.$invalid && form.title.$dirty">
                    <span class="help-block" ng-show="form.title.$error.required">Данное поле обязательное</span>
                    <span class="help-block" ng-show="form.title.$error.unique">Название задачи должны быть уникально</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.file.$invalid && form.file.$dirty}">
                <label for="file">Json file</label>
                <input type="file" class="form-control" id="file" placeholder="Json file" ng-file name="file" required ng-model="task.data">
                <div ng-show="form.file.$invalid && form.file.$dirty">
                    <span class="help-block" ng-show="form.file.$error.required">Данное поле обязательное</span>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Save</button>
        <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
    </div>
</form>