<button type="button" class="btn btn-default" ng-click="ctrl.reload()" title="Reload tasks">
    <i class="glyphicon glyphicon-refresh"></i>
</button>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Task title</th>
            <th>Job started</th>
            <th>Job finished</th>
            <th>Job state</th>
            <th>Finished</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="task in tasks" ng-if="task.archive">
            <td>{{task.title}}</td>
            <td>{{task.start_date}}</td>
            <td>{{task.end_date}}</td>
            <td>{{task.state.display}}</td>
            <td class="task-progress">
                <uib-progressbar value="task.readiness" type="success"><strong>{{task.readiness}}%</strong></uib-progressbar>
            </td>
            <td>
                <button class="btn btn-default btn-sm" ng-click="ctrl.onRestore(task)" title="Restore">
                    <i class="glyphicon glyphicon-repeat"></i>
                </button>
                <button class="btn btn-default btn-sm" title="Delete" ng-click="ctrl.onDelete(task)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
