<p>Уважаемый(ая) <strong>{{ user.get_full_name }}</strong>,</p>
<p><strong>TracerWebUI</strong> сообщает, что Вы успешно зарегистрированы в системе. Для активизации Вашего аккаунта необходимо пройти последний пункт регистрации!</p>
<p>Чтобы стать зарегистрированным пользователем, Вам необходимо однократно проследовать по указанной ссылке <a href="http://{{ host }}{% url "account:activate" activation_key=user.activation_key %}">http://{{ host }}{% url "account:activate" activation_key=user.activation_key %}</a>.<br/>
После перехода по указаной выше ссылке, Ваш аккаунт будет активирован.</p>
<p>Если у Вас возникли проблемы с активацией аккаунта, пожалуйста, сообщите в администрацию <a href="mailto:mathmodtracer@gmail.com">mathmodtracer@gmail.com</a></p>
<p>С наилучшими пожеланиями,<br/>
<strong>TracerWebUI</strong>
</p>
