<!DOCTYPE html>

{% load static %}
{% load i18n %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tracer Web UI</title>
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "angular-ui-notification/dist/angular-ui-notification.min.css" %}" rel="stylesheet">
    <link href="{% static "angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>
<body ng-app="tracer">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
                    <span class="sr-only">Toogle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-href="/">Tracer Web UI</a>
            </div>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav">
                    <li>
                        <a ng-href="/">Tasks</a>
                    </li>
                    <li>
                        <a ng-href="/archive/">Trash</a>
                    </li>
                    <li>
                        <a ng-href="/cluster/">Cluster</a>
                    </li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-user"></i> {{ request.user.email }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">{% trans "Profile" %}</a></li>
                                <li><a href="#">{% trans "Log out" %}</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <ng-view></ng-view>
            </div>
        </div>
    </div>

    <script src="{% static "json-editor/dist/jsoneditor.min.js" %}"></script>
    <script src="{% static "jquery/dist/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "angular/angular.min.js" %}"></script>
    <script src="{% static "angular-route/angular-route.min.js" %}"></script>
    <script src="{% static "angular-bootstrap/ui-bootstrap.min.js" %}"></script>
    <script src="{% static "angular-bootstrap/ui-bootstrap-tpls.min.js" %}"></script>
    <script src="{% static "angular-json-editor/dist/angular-json-editor.min.js" %}"></script>
    <script src="{% static "ng-remote-validate/release/ngRemoteValidate.0.6.1.min.js" %}"></script>
    <script src="{% static "angular-ui-notification/dist/angular-ui-notification.min.js" %}"></script>
    <script src="{% static "angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.js" %}"></script>
    <script src="{% static "templates.js" %}"></script>
    <script src="{% static "app.min.js" %}"></script>
</body>
</html>