<ul class="gallery">
    <li ng-repeat="img in images">
        <a ng-click="ctrl.openLightboxModal($index)">
            <img ng-src="{{img.url}}" class="img-thumbnail" width="75" height="75">
        </a>
    </li>
</ul>