<div class="table-responsive">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th colspan="{{headers.length}}" class="info text-center"><b>{{title}}</b></th>
            </tr>
            <tr>
                <th ng-repeat="header in headers">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data">
                <td ng-repeat="header in headers">{{row[header]}}</td>
            </tr>
        </tbody>
    </table>
</div>
